@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        
        <p class="lead">Desafio Técnico utilizando WCF e ASPNET MVC.</p>
        
    </section>

    
</main>